.navbar{
    background-color: var(--black);
    top:0;
    left:0;
    position:relative;
    display: flex;
    justify-content: space-between;
     align-items: center;
     padding: 1.3rem 3rem;
}
.logo{
    font-size: 1.2rem;
}
.links{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 1.5rem;
}
.link{
    font-weight: 600;
    font-size: 1rem;
    color: var(--grey);
}
.link:hover{
    color: var(--white);
    transition: all 0.3s;
}
.responsive{
    display: none;
}
@media only screen and (max-width: 800px) {
    .navbar{
        padding: 1.3rem;
    }
    .logo{
        font-size: 1rem;
    }
    .links{
        display: none;
    }
    .link{
        font-size: 0.8rem;
    }
    .responsive{
        display: block;
    }
    .drawer-div{
        width: 40vw;
        background-color: var(--black);
        height: 100vh;
        padding: 1rem;
    }
  }